body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.header-content {
  position: relative;
  width: 100%;
}

.header-background {
  width: 100%;
  display: block;
}

#header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header-info {
  position: absolute;
  top: 40%;
  left: 50px;
}

.subtitle {
  color: var(--secondary-color);
  font-size: 1rem;
  margin: 0;
}

.title {
  color: var(--primary-color);
  font-size: 3rem;
  margin: 0;
  max-width: 70%;
  font-weight: 200;
  font-family: 'Sansita Swashed', sans-serif;
}

.header-info button {
  background-color: var(--buttons-color);
  border: none;
  border-radius: 20px;
  color: var(--primary-color);
  width: 150px;
  padding: 10px;
  margin-top: 30px;
}

.header-info button:hover {
  background-color: var(--secondary-color);
  transition: 0.5s;
}

.products {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.products-title {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Sansita Swashed', sans-serif;
  text-align: center;
}

.products-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  max-width: 800px;
  padding: 10px;
  gap: 10px;
}

.product-card {
  background-color: var(--background-color);
  border-radius: 10px;
  color: aliceblue;
  padding: 20px 20px;
  max-width: 200px;
}

.product-card img {
  width: 150px;
  height: 140px;
  padding: 0px 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.button-group p {
  max-width: 60%;
  margin: 0;
  font-weight: 200;
}

.button-group button {
  background-color: var(--buttons-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 50px;
  height: 30px;
}

.button-group button:hover {
  background-color: var(--secondary-color);
  transition: 0.2s;
}
.offer-image {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.offer-image img {
  width: 100%;
  height: auto;
  display: block;
}

.offer-image h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 2rem;
  z-index: 1;
  margin: 0;
  font-family: 'Sansita Swashed', sans-serif;
}

.offer-image button {
  position: absolute;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 150px;
  background-color: var(--buttons-color);
  border: none;
  border-radius: 20px;
  color: var(--primary-color);
  width: 150px;
  padding: 10px;
  margin-top: 30px;
}

.offer-image button:hover {
  background-color: var(--secondary-color);
  transition: 0.5s;
}